CREATE TABLE %s(
	SOPInstanceUID VARCHAR(64) NOT NULL UNIQUE,
	localFilePath VARCHAR(256) NOT NULL,
	patientName VARCHAR(64) NOT NULL,
	patientID VARCHAR(64) NOT NULL,
	studyID VARCHAR(16) NOT NULL,
	studyInstanceUID VARCHAR(64) NOT NULL,
	seriesDescription VARCHAR(64) NOT NULL,
	seriesInstanceUID VARCHAR(64) NOT NULL,
	seriesNumber SMALLINT NOT NULL,
	PRIMARY KEY(SOPInstanceUID)
);